/*.calcForm {
    margin-right: 0px;
    margin-left: 0px;
}*/

#sexo {
    font-size: 20px;
}

/*Estilos para el panel izquierdo*/

/*#nav-panel  {
    margin-top: 2000px;
}*/

#nav-panel p,li {
    font-size: 0.8em;
}

p:first-child {
    margin-top: 20px;
}

